/* defaults */
input[type="text"] {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

input[type="text"]:focus {
    border: 3px solid rgba(31, 139, 255, 0.3);
    margin: -2px -2px 13px -2px;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button {
    border: 3px solid rgba(7, 116, 233, 1);
    color: rgba(7, 116, 233, 1);
    font-weight: bold;
    border-radius: 20px;
    padding: 2px 5px 2px 5px;
    transition: background-color 0.1s linear;
}
button:hover {
    color: white;
    background-color: rgba(7, 116, 233, 1);
}
